# Type of Variables

In [1]:
x, y, z = 45, "Meishaonv", "xianziyumao"

In [2]:
type(x)

int

In [3]:
type(0.01)

float

In [4]:
type(z)

str

In [5]:
a=0.12
a=int(a)

In [6]:
type(a)

int

In [7]:
type(str(a))

str

In [8]:
squares = [1, 4, 9, 25, 36, 49, 64] 
squares

[1, 4, 9, 25, 36, 49, 64]

In [9]:
mixed_list = ["one", 1, "four", 4, "nine", 9, "twenty five", 25] 
mixed_list

['one', 1, 'four', 4, 'nine', 9, 'twenty five', 25]

In [10]:
list_of_lists = [["one", 1], ["four", 4], ["nine", 9], ["twenty five", 25]] 
list_of_lists

[['one', 1], ['four', 4], ['nine', 9], ['twenty five', 25]]

In [11]:
type(list_of_lists)

list

In [12]:
squares[0]

1

# Lists slicing

In [13]:
squares

[1, 4, 9, 25, 36, 49, 64]

In [14]:
squares[:3]

[1, 4, 9]

In [15]:
squares[4:] #after the fourth

[36, 49, 64]

In [16]:
squares[2:5]

[9, 25, 36]

In [17]:
squares[::2]#step = 2

[1, 9, 36, 64]

In [18]:
squares[::-1] #reverse

[64, 49, 36, 25, 9, 4, 1]

In [19]:
squares[3]=0
squares #update value

[1, 4, 9, 0, 36, 49, 64]

In [20]:
squares[1:4]=[1,2,3]
squares

[1, 1, 2, 3, 36, 49, 64]

# Looping

In [21]:
list = [1, 3, 5, 7, 9] #define the list
# Using for loop 
for i in list: 
    print(i)

1
3
5
7
9

In [22]:
# Python code to iterate over a list 
list = [1, 3, 5, 7, 9]
# getting length of list 
length = len(list)
# Iterating the index # same as 'for i in range(len(list))' 
for i in range(length): 
    print(list[i])

1
3
5
7
9

In [23]:
# Python code to iterate over a list 
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Using list comprehension 
[print(i) for i in list]

1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None]

In [24]:
squared = [i**2 for i in list] 
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#  Selected Methods for Python Lists

In [25]:
x = [30, 60, 70, 100, 120] 
x

[30, 60, 70, 100, 120]

In [26]:
x.append(150) 
x

[30, 60, 70, 100, 120, 150]

In [27]:
x.extend([170, 180, 190]) 
x

[30, 60, 70, 100, 120, 150, 170, 180, 190]

In [28]:
x.insert(1, 60) # first argument is index and second argument is the value to insert 
x

[30, 60, 60, 70, 100, 120, 150, 170, 180, 190]

In [29]:
x.remove(70) # remove the first occurance of element with value of 70
x

[30, 60, 60, 100, 120, 150, 170, 180, 190]

In [30]:
x.index(60) # returns the index of 60 in the list

1

In [31]:
x.count(60) # there are 4 occurances of 60 in the list

2

In [32]:
x = [60, 20, 90, 35, 15] 
x.sort() # sorts in ascending order by default 
x

[15, 20, 35, 60, 90]

In [33]:
x.sort(reverse= True)
x

[90, 60, 35, 20, 15]

In [34]:
x.reverse() #reverses the order of elements in x 
x

[15, 20, 35, 60, 90]

#  Dictionaries

In [37]:
Jinitaimei = {
'Meishaonv': 'Sao', 'Xiaolanggou': 'Handsome'
}
print(Jinitaimei)

{'Meishaonv': 'Sao', 'Xiaolanggou': 'Handsome'}

In [38]:
type(Jinitaimei)

dict

In [39]:
Jinitaimei['Meishaonv']

'Sao'

In [40]:
person = {} #initialize the dictionary 
type(person)

dict

In [41]:
person['Meishaonv'] = 'Sexy' 
person['Xiaolanggou'] = 'Handsome' 
person['fafa'] = {'Appearance': 'Handsome', 'IQ': 'High'}
print(person)

{'Meishaonv': 'Sexy', 'Xiaolanggou': 'Handsome', 'fafa': {'Appearance': 'Handsome', 'IQ': 'High'}}

In [44]:
person['Xiaolanggou']

'Handsome'

In [43]:
person['fafa']['IQ']

'High'

In [106]:
countries = ['Peru','Armenia','Jordan','Norway'] 
cities = ['Lima', 'Yerevan', 'Amman', 'Oslo']
capitals = dict(zip(countries, cities))
capitals

{'Peru': 'Lima', 'Armenia': 'Yerevan', 'Jordan': 'Amman', 'Norway': 'Oslo'}