In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import pandas as pd

In [2]:
## open the webpage "http://www.pythonscraping.com/pages/warandpeace.html"
## and scrape all the green text from it

html = urlopen("http://www.pythonscraping.com/pages/warandpeace.html")
html

In [3]:
## get the html code from the website

soup = BeautifulSoup(html)

In [4]:
## get all the green elements in the html code

nameList = soup.find_all("span", {"class" : "green"})
nameList

[<span class="green">Anna
 Pavlovna Scherer</span>, <span class="green">Empress Marya
 Fedorovna</span>, <span class="green">Prince Vasili Kuragin</span>, <span class="green">Anna Pavlovna</span>, <span class="green">St. Petersburg</span>, <span class="green">the prince</span>, <span class="green">Anna Pavlovna</span>, <span class="green">Anna Pavlovna</span>, <span class="green">the prince</span>, <span class="green">the prince</span>, <span class="green">the prince</span>, <span class="green">Prince Vasili</span>, <span class="green">Anna Pavlovna</span>, <span class="green">Anna Pavlovna</span>, <span class="green">the prince</span>, <span class="green">Wintzingerode</span>, <span class="green">King of Prussia</span>, <span class="green">le Vicomte de Mortemart</span>, <span class="green">Montmorencys</span>, <span class="green">Rohans</span>, <span class="green">Abbe Morio</span>, <span class="green">the Emperor</span>, <span class="green">the prince</span>, <span class="green">Prince Vasili</span>, <span class="green">Dowager Empress Marya Fedorovna</span>, <span class="green">the baron</span>, <span class="green">Anna Pavlovna</span>, <span class="green">the Empress</span>, <span class="green">the Empress</span>, <span class="green">Anna Pavlovna's</span>, <span class="green">Her Majesty</span>, <span class="green">Baron
 Funke</span>, <span class="green">The prince</span>, <span class="green">Anna
 Pavlovna</span>, <span class="green">the Empress</span>, <span class="green">The prince</span>, <span class="green">Anatole</span>, <span class="green">the prince</span>, <span class="green">The prince</span>, <span class="green">Anna
 Pavlovna</span>, <span class="green">Anna Pavlovna</span>]

In [5]:
## get all the text from all elements in the list
for name in nameList:
    print(name.get_text())

Anna
Pavlovna Scherer
Empress Marya
Fedorovna
Prince Vasili Kuragin
Anna Pavlovna
St. Petersburg
the prince
Anna Pavlovna
Anna Pavlovna
the prince
the prince
the prince
Prince Vasili
Anna Pavlovna
Anna Pavlovna
the prince
Wintzingerode
King of Prussia
le Vicomte de Mortemart
Montmorencys
Rohans
Abbe Morio
the Emperor
the prince
Prince Vasili
Dowager Empress Marya Fedorovna
the baron
Anna Pavlovna
the Empress
the Empress
Anna Pavlovna's
Her Majesty
Baron
Funke
The prince
Anna
Pavlovna
the Empress
The prince
Anatole
the prince
The prince
Anna
Pavlovna
Anna Pavlovna

In [6]:
[name.get_text() for name in nameList]

['Anna\nPavlovna Scherer',
 'Empress Marya\nFedorovna',
 'Prince Vasili Kuragin',
 'Anna Pavlovna',
 'St. Petersburg',
 'the prince',
 'Anna Pavlovna',
 'Anna Pavlovna',
 'the prince',
 'the prince',
 'the prince',
 'Prince Vasili',
 'Anna Pavlovna',
 'Anna Pavlovna',
 'the prince',
 'Wintzingerode',
 'King of Prussia',
 'le Vicomte de Mortemart',
 'Montmorencys',
 'Rohans',
 'Abbe Morio',
 'the Emperor',
 'the prince',
 'Prince Vasili',
 'Dowager Empress Marya Fedorovna',
 'the baron',
 'Anna Pavlovna',
 'the Empress',
 'the Empress',
 "Anna Pavlovna's",
 'Her Majesty',
 'Baron\nFunke',
 'The prince',
 'Anna\nPavlovna',
 'the Empress',
 'The prince',
 'Anatole',
 'the prince',
 'The prince',
 'Anna\nPavlovna',
 'Anna Pavlovna']

In [7]:
## using the webpage: "https://en.wikipedia.org/wiki/List_of_presidents_of_the_United_States"
## extract all the names of the presidents in the table

html = urlopen("https://en.wikipedia.org/wiki/List_of_presidents_of_the_United_States")
soup = BeautifulSoup(html)

### We know that the president names are bold, so we will need to locate
### all bold elements in the table

# find the table
table = soup.find("table", {"class" : "wikitable"})
links = table.find_all("b")
links[0].get_text()# 'Georage Washington'

'George Washington'

In [8]:
soup.find("table").find_all("b")[0].find("a").get_text()

'Constitution of the United States'

In [9]:
links[0].find("a").get_text()

'George Washington'

In [10]:
list = [links[i].find("a").get_text() for i in range(len(links)-1)]
list

['George Washington',
 'John Adams',
 'Thomas Jefferson',
 'James Madison',
 'James Monroe',
 'John Quincy Adams',
 'Andrew Jackson',
 'Martin Van Buren',
 'William Henry Harrison',
 'John Tyler',
 'James K. Polk',
 'Zachary Taylor',
 'Millard Fillmore',
 'Franklin Pierce',
 'James Buchanan',
 'Abraham Lincoln',
 'Andrew Johnson',
 'Ulysses S. Grant',
 'Rutherford B. Hayes',
 'James A. Garfield',
 'Chester A. Arthur',
 'Grover Cleveland',
 'Benjamin Harrison',
 'Grover Cleveland',
 'William McKinley',
 'Theodore Roosevelt',
 'William Howard Taft',
 'Woodrow Wilson',
 'Warren G. Harding',
 'Calvin Coolidge',
 'Herbert Hoover',
 'Franklin D. Roosevelt',
 'Harry S. Truman',
 'Dwight D. Eisenhower',
 'John F. Kennedy',
 'Lyndon B. Johnson',
 'Richard Nixon',
 'Gerald Ford',
 'Jimmy Carter',
 'Ronald Reagan',
 'George H. W. Bush',
 'Bill Clinton',
 'George W. Bush',
 'Barack Obama',
 'Donald Trump']

In [11]:
### Example 3:
### Scrape the table in https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue
### and find the total revenue per industry

html = urlopen("https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue")
soup = BeautifulSoup(html)

In [12]:
## the table
table = soup.find('table', {'class': 'wikitable sortable plainrowheads'}).tbody

In [13]:
## get all rows in the table

rows = table.find_all("tr")

In [14]:
rows[0].find_all("th")

[<th scope="col">No.
 </th>, <th scope="col">Company
 </th>, <th scope="col">Industry
 </th>, <th scope="col">Revenue (by US$ million)
 </th>, <th scope="col">Headquarters
 </th>]

In [15]:
[var.text for var in rows[0].find_all("th")]

['No.\n',
 'Company\n',
 'Industry\n',
 'Revenue (by US$ million)\n',
 'Headquarters\n']

In [16]:
## get the variable names from the header of the table

rows[0].find_all("th")

col_names = [var.text.replace("\n", "") for var in rows[0].find_all("th")]
col_names

['No.', 'Company', 'Industry', 'Revenue (by US$ million)', 'Headquarters']

In [17]:
### extract the first row in the table (not the variables)
rows[1].find_all("td")
first_row = [var.text.replace("\n", "").replace("\xa0", "") for var in rows[1].find_all("td")]
first_row

['1', 'Volkswagen Group', 'Automotive', '288,888', 'Germany']

In [18]:
### define an empty dataframe
df = pd.DataFrame()

### get all of the rows in the table except the header row
for i in range(1, len(rows)):
    values = [var.text.replace("\n", "").replace("\xa0", "") for var in rows[i].find_all("td")]
    df = df.append(pd.Series(values), ignore_index = True)
df.head()

   0                    1                     2        3              4
0  1     Volkswagen Group            Automotive  288,888        Germany
1  2         Toyota Group  Engineering, various  265,172          Japan
2  3                Apple           Electronics  229,234  United States
3  4  Samsung Electronics  Electronics, various  211,940    South Korea
4  5              Daimler            Automotive  185,235        Germany

In [19]:
### update the column names of the dataframe
df.columns = col_names
df.head()

,No.,Company,Industry,Revenue (by US$ million),Headquarters
0,1,Volkswagen Group,Automotive,"288,888",Germany
1,2,Toyota Group,"Engineering, various","265,172",Japan
2,3,Apple,Electronics,"229,234",United States
3,4,Samsung Electronics,"Electronics, various","211,940",South Korea
4,5,Daimler,Automotive,"185,235",Germany

In [20]:

### the following command will not give the right answer
### because the revenue is text and not numeric
### all information coming from the web is TEXT!

#df.groupby("Industry")["Revenue (by US$ million)"].sum()

### change the variable revenue to numeric
# get rid of all commas
df["Revenue (by US$ million)"] = df["Revenue (by US$ million)"].str.replace(",", "")
# change to numeric
df["Revenue (by US$ million)"] = pd.to_numeric(df["Revenue (by US$ million)"])

df.groupby("Industry")["Revenue (by US$ million)"].sum()

Industry
Aerospace & Defense                           389142
Aluminium                                      46684
Automotive                                   1946484
Automotive, Electronics                        44785
Building Materials, Glass                      44701
Building materials                             46002
Chemicals                                     310053
Construction equipment                         45462
Consumer goods                                126765
Electronics                                   868147
Electronics, various                          211940
Engineering                                   102767
Engineering, various                         1138802
Food & Beverages                              344415
Food, Beverages & Tabacco                      45794
Industrial Machinery                           42638
Luxury goods                                   49221
Metals                                        118387
Motor Vehicles & Parts                        119482
Oil & gas                                      80006
Personal care products                         76450
Pharmaceuticals                               512868
Renewable energy                               84134
Shipbuilding                                   44431
Steel                                         279731
Telecommunications equipment                   48005
Telecommunications equipment, Electronics      89311
Textiles                                       53203
Tyres                                          49608
Name: Revenue (by US$ million), dtype: int64

In [21]:
page = requests.get("http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[0]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  Tonight
  <br/>
  <br/>
 </p>
 <p>
  <img alt="Tonight: Mostly cloudy, with a low around 56. West southwest wind 8 to 13 mph. " class="forecast-icon" src="newimages/medium/nbkn.png" title="Tonight: Mostly cloudy, with a low around 56. West southwest wind 8 to 13 mph. "/>
 </p>
 <p class="short-desc">
  Mostly Cloudy
 </p>
 <p class="temp temp-low">
  Low: 56 °F
 </p>
</div>

In [22]:
period = tonight.find(class_="period-name").get_text()
short_desc = tonight.find(class_="short-desc").get_text()
temp = tonight.find(class_="temp").get_text()
print(period)
print(short_desc)
print(temp)

Tonight
Mostly Cloudy
Low: 56 °F

In [23]:
img['src']

NameError: name 'img' is not defined

In [ ]:
img = tonight.find("img")
desc = img['title']
print(desc)

In [ ]:
#Use a list comprehension to call the get_text method on each BeautifulSoup object.
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

In [ ]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(short_descs)
print(temps)
print(descs)

In [ ]:
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc":descs
})
weather

In [ ]:
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
weather["temp_num"] = temp_nums.astype('int')
temp_nums

In [ ]:
round(weather["temp_num"].mean(),2)

In [ ]:
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

In [ ]:
weather[is_night]